:root {
  --colors-bg-toolbar: black;
  --unit: 1rem;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.toolbar {
  background-color: var(--colors-bg-toolbar);
  padding: 1rem;
  color: antiquewhite;
  gap: var(--unit);

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.toolbar__header h1 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

.toolbar__settings {
  display: flex;
  flex-direction: column;
  gap: var(--unit);
  flex-wrap: wrap;
}

.toolbar__bottom {
}

.toolbar label {
  display: block;
}

.toolbar a {
  color: aliceblue;
}

.toolbar label input {
  display: block;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  overflow: hidden;
}

svg,
img {
  /* height: 500px; */
  max-height: 100%;
  max-width: 100%;
}

@media (max-width: 800px) {
  body {
    grid-template-columns: none;
    grid-template-rows: auto 1fr;
  }

  .toolbar {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: auto 1fr auto;
  }
}
