body {
  margin: 0;

  display: grid;
  grid-template-rows: auto 1fr;

  height: 100vh;

  overflow: hidden;
}

.toolbar {
  background-color: cornsilk;
  padding: 1rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.toolbar label {
  display: block;
}

.toolbar label input {
  display: block;
}

main {
  display: flex;
  align-items: center;
}

svg {
  /* height: 500px; */
  max-height: 100%;
  max-width: 100%;
}
